@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Bitter');
* {box-sizing: border-box;
    
    font-family: 'Raleway', sans-serif;

}
/*This is the way for modifying colors easily*/
:root{
    --btncolor: #ed6a5a;
    --headercolor: #1f7a8c;
    --footercolor: #50514f;
    --lighttext: #f7fff7;
    --backgroundcolor: #f7fff7;

}
body{
    background-color: backgroundcolor;
}
.main-grid-container {
    display: grid;
    height: auto;
    width: 100%;
    grid-gap: 6px;
    grid-template-areas: 
      "a a a a a"
      "t t t t t"
      "p p p p p"
      "e e e e e";
    /*align-content: space-between; */
    /*justify-content: space-around; */
  }
h2 ,h3{
    font-family: 'Bitter', serif;
}
.navbar{
    grid-area: a;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--headercolor);
}
#budgetTree{
    grid-area: t;
}
#addproduct{
    grid-area: p;
}
.dispnone{
    display: none;
}
  
.footer{
    grid-area: e;
    background-color: var(--footercolor);
    text-align: center;
    height: 100px;
} 
.header {
    padding: 4px;
    position: initial;
    display: block;
    color: var(--lighttext);  
}
.nav {
    padding: 4px;
    position: relative;
    display: block;
}
   
.nav ul li {
    float: left;
    margin: 5px;
    list-style: none;
    color: var(--lighttext);
}
li:hover{
    background-color: var(--btncolor);
    border-radius: 7px;
}
.btn{
    border-radius: 10px;
    outline: none;
    background-color:var(--btncolor);
    color: var(--lighttext);
    height: 40px;

}